@model Lab5_WebApp.ViewModels.Entities.CarModelViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container w-50">
    <table class="table table-sm">
        <thead class="thead-dark text-center">
            <tr>
                <th colspan="2">Detailed description of "@Model.Entity.Name"</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td><label asp-for="Entity.Name"></label></td>
                <td>@Model.Entity.Name</td>
            </tr>
            <tr>
                <td><label asp-for="Entity.Description"></label></td>
                <td>@Model.Entity.Description</td>
            </tr>

            <tr>
                <td><label asp-for="Entity.CarMark"></label></td>
                <td>@Model.Entity.CarMark?.Name</td>
            </tr>


        </tbody>
    </table>

    <p>
    <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-100">Back</a></p>
</div>
