@model IEnumerable<Car>
@{
    ViewData["Title"] = "Table 'Cars'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>VINcode</td>
            <td>RegNum</td>
            <td>EngineNum</td>
            <td>IssueDate</td>
            <td>TechnicalMaintenanceDate</td>
            <td>Specs</td>
            <td>ReturnMark</td>
            <td>SpecMark</td>
            <td>Price</td>
            <td>RentalPrice</td>
        </tr>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.VINcode</td>
                <td>@genre.RegNum</td>
                <td>@genre.EngineNum</td>
                <td>@genre.IssueDate</td>
                <td>@genre.TechnicalMaintenanceDate</td>
                <td>@genre.Specs</td>
                <td>@genre.ReturnMark</td>
                <td>@genre.SpecMark</td>
                <td>@genre.Price</td>
                <td>@genre.RentalPrice</td>
            </tr>
        }
    </table>
</p>
